@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    font-family: 'Space Mono', monospace;

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}



.container {
    width: 90%;
    max-width: 1000px;
    min-height: 400px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:    "header     header"
                            "main-img   main-section"
                            "footer     footer";

    margin: auto;
    gap: 20px;

}

.header {
    grid-area: header;
}

.header__txt {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    display: flex;
    padding: 1.5rem;
}

.main-img {
    min-width: 50%;
    min-height: 400px;
    background-image: url('../img/Scarecrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    padding: 20px 10px;
    grid-area: main-img;
}

.main-section {
    min-height: 400px;
    grid-area: main-section;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;    
}

.main-section__title {
    font-weight: 700;
    font-size: 3.1rem;
}

.main-section__txt {
    font-weight: 400;
    font-size: 1.5rem;
}

.main-section__btn {
    background: #333333;
    color: white;
    font-weight: 700;
    font-size: 0.87rem;

    padding: 23px 43px;
}

.footer {
    min-height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.88rem;
    font-weight: 700;
    color: #BDBDBD;
    text-align: center;

    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding: 30px 0px;
}

// Media queries

@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas:    "header"
                                "main-img"
                                "main-section"
                                "footer";
    
        margin: auto;
        gap: 20px;
    
    }
}